

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body{
  overflow-x: hidden;
  background: #02031C;
  height:  485vh;
}
/*Nav-bar */

nav {
  background-color: #93c0d7;
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0; 
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  

  .blur{
    filter: blur(20px);
  }
  .navmenu a {
    color: #19184D;
    font-size: 20px;
    padding: 0 22px;
    text-transform: capitalize;
    font-family: 'Asap', sans-serif;
    font-weight: 1000;

 }
  
  

   /***Transition**/
   .hidden{
    opacity: 0;
    filter: blur(4px);
    transition: all .8s;
    transform: translateY(20%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
   
  }
  .container{
    display: inline-block;
  }
  

  



/**Responsive*/

@media  (max-width:1100px){

nav{
  opacity: 0;
}
  
}