





/****Home**/



#Home {
    display: flex;
    padding: 0 120px;
}

#Home h2 {
 color: #85F0D3;
 font-size: 85px;
 z-index: 1;
 margin-top: 130px;
font-family: 'Asap';
font-style: normal;
font-weight: 700;
line-height: 108px;
}



.Tv{
   position: absolute;
   left: 53%;
}

 #Home h1{
  transform:rotate(5deg);
  font-size: 53px;
  margin-top: 220px;
  z-index: 1;
  color: #161844;
  position: absolute;
  left: 40%;
  top: 9%;
  font-family: 'Bebas Neue', cursive;
 }


 #Home img{
  left: 40%;
  top: 10%;
 }








 /**section-card*/




section.card {
background: linear-gradient(96deg, rgba(174,205,253,1) 0%, rgba(144,236,192,1) 100%);
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  margin: 100px 0;
  height: 220px;
  width: 670px;
  max-width: 920px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204,204,204,0.3), -5px 0 0 0 rgba(133, 133, 133, 0.3), 0 5px 0 0 rgba(32, 32, 32, 0.3);
}
section.card .text-content {
  font-family: 'Gloock', serif;
  display: flex;
  flex-direction: column;
  width: calc(-132vw);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 20px;
  width: 200px;
}
section.card .text-content p {
  margin: 16px 0 24px;
  font-size: 18px;
  width: 400px;
}

section.card .visual {
  width: 240px;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 1px 2px 6px rgba(88, 88, 88, 0.25), 2px 6px 12px rgba(0,0,0,0.25);
}
section.card .visual img {
  height: 300px;
}
section.card:nth-of-type(odd) {
  margin: 0 0 0 248px;
  border-radius: 24px 24px 48px 24px;
  padding: 48px 308px 48px 60px;
}
section.card:nth-of-type(odd) .visual {
  right: 24px;
  left: auto;
}
article {
  padding-top: 100px;
  margin: auto;
  display: block;
  width: calc(308vw);
  max-width: calc(1168px);
  min-width: calc(888px);
}


  /*button**/


  .learn-more {
    padding: 20px 0;
    text-align: center;
  }


  .learn-more h4{
    padding: 60px 0;
    font-size: 37px;
    font-family: 'Libre Bodoni', serif ;
    color:#85F0D3;

  }
button{
  padding-top: 60px;
  left: 50%;
  border:3px solid #184451;
  color:#000;
  background:  #449ca0;
  text-decoration:none;
  padding:16px 32px;
  border-radius:12px;
  transition:400ms all;
}

button:hover {
  background:#184451;
  color:white
}

.text-center{
  text-align: center;
}


    /****Responsive**/


@media all and (max-width: 1100px) {

 .text p {
  font-size: 40px;
  width: 600px;
}
.text h1 {
font-size: 30px;
margin-left: 120px;
width: 350px;
}

  article {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 }
  section.card {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 }
  section.card .text-content {
    width: 100%;
 }
  section.card:nth-of-type(odd) {
    margin: 0;
 }
}


    @media all and (max-width: 720px) {

      body {
        padding: 48px 24px 0;
     }


    /**Home*/

    #Home{
     flex-direction: column;
     padding: 0; 
    }
    #Home h2{
      color: #85F0D3;
      font-size: 70px;
      justify-content: center;
      z-index: 1;
      margin-top: 0;
    }
    .Tv{
      top:42%;
      left: 1%;
    }

  
     /***section-card***/

      article{
        margin-top: 600px;
      }
     
      section.card {
        margin: 124px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
     }
      section.card:nth-of-type(odd) {
        padding: 88px 36px 36px;
        border-radius: 24px;
     }
      section.card .text-content h3 {
        max-width: calc(-50%);
        font-size: 1em;
     }
      section.card .text-content p, section.card .text-content a {
        font-size: 0.8em;
     }
      section.card .visual, section.card:nth-of-type(odd) .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
     }
      section.card .visual img, section.card:nth-of-type(odd) .visual img {
        width: 100%;
        height: auto;
     }
    }






    