*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body{
  overflow-x: hidden;
  background: linear-gradient(180deg, rgba(16,18,22,1) 0%, rgba(19,44,63,1) 100%);
  height:  585vh;
}





/****Home**/



#Home {
    display: flex;
    justify-content: center;
}

#Home h2 {
 color: #85F0D3;
 font-size: 75px;
 padding-top: 40px;
 margin-right:80px;
 font-family: 'Gloock', serif;
 letter-spacing: 1.2vw;
 font-weight: 700;
}

 #Home h1{
    font-size: 77px;
    margin-top: 220px;
    font-family: 'Monoton', cursive;
 }
h1 .animation{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(96deg, rgba(195,18,18,1) 0%, rgba(196,81,49,1) 32%, rgba(196,133,49,1) 52%, rgba(196,115,49,1) 72%, rgba(195,18,18,1) 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap
}


/******About********/



  .text{
   width: 100%;
   margin-top: 200px;
   text-align: center;
  }
.text p {
    font-size: 50px;
    text-decoration:wavy;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;
    
}
.text h1 {
  padding-top: 30px;
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;

}

.skills{
    position:relative;
    z-index: 1;
    display: flex;
    justify-content: center;
   

  }
  .skills img{
    width: 70px;
    padding: 50px;
  }

 /**section-card*/
section.card {
  background: #016368;
  border-radius: 24px 24px 24px 48px;
  padding: 48px 48px 48px 308px;
  margin: 100px 0;
  height: 220px;
  width: 670px;
  max-width: 920px;
  min-width: 640px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: relative;
  box-shadow: 5px 0 0 0 rgba(204,204,204,0.3), -5px 0 0 0 rgba(133, 133, 133, 0.3), 0 5px 0 0 rgba(32, 32, 32, 0.3);
}
section.card .text-content {
  font-family: 'Gloock', serif;
  display: flex;
  flex-direction: column;
  width: calc(-132vw);
}
section.card .text-content h3 {
  margin: 0;
  font-size: 20px;
  width: 200px;
}
section.card .text-content p {
  margin: 16px 0 24px;
  font-size: 18px;
  width: 400px;
}

section.card .visual {
  width: 240px;
  position: absolute;
  top: -24px;
  left: 24px;
  overflow: hidden;
  border-radius: 24px;
  box-shadow: 1px 2px 6px rgba(88, 88, 88, 0.25), 2px 6px 12px rgba(0,0,0,0.25);
}
section.card .visual img {
  height: 300px;
}
section.card:nth-of-type(odd) {
  margin: 0 0 0 248px;
  border-radius: 24px 24px 48px 24px;
  padding: 48px 308px 48px 60px;
}
section.card:nth-of-type(odd) .visual {
  right: 24px;
  left: auto;
}
article {
  padding-top: 100px;
  margin: auto;
  display: block;
  width: calc(308vw);
  max-width: calc(1168px);
  min-width: calc(888px);
}


  /*button**/


  .learn-more {
    padding: 20px 0;
    text-align: center;
  }


  .learn-more h4{
    padding: 60px 0;
    font-size: 37px;
    font-family: 'Libre Bodoni', serif ;
    color:#85F0D3;

  }
button{
  padding-top: 60px;
  left: 50%;
  border:3px solid #184451;
  color:#000;
  background:  #449ca0;
  text-decoration:none;
  padding:16px 32px;
  border-radius:12px;
  transition:400ms all;
}

button:hover {
  background:#184451;
  color:white
}

.text-center{
  text-align: center;
}


    /****Responsive**/


@media all and (max-width: 1100px) {

 .text p {
  font-size: 40px;
  width: 600px;
}
.text h1 {
font-size: 30px;
margin-left: 120px;
width: 350px;
}

  article {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 }
  section.card {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
 }
  section.card .text-content {
    width: 100%;
 }
  section.card:nth-of-type(odd) {
    margin: 0;
 }
}


    @media all and (max-width: 720px) {
      body {
        padding: 48px 24px 0;
     }
      section.card {
        margin: 64px 0;
        padding: 88px 36px 36px;
        flex-direction: column;
        border-radius: 24px;
     }
      section.card:nth-of-type(odd) {
        padding: 88px 36px 36px;
        border-radius: 24px;
     }
      section.card .text-content h3 {
        max-width: calc(-50%);
        font-size: 1em;
     }
      section.card .text-content p, section.card .text-content a {
        font-size: 0.8em;
     }
      section.card .visual, section.card:nth-of-type(odd) .visual {
        width: 150px;
        height: 150px;
        right: 16px;
        left: auto;
     }
      section.card .visual img, section.card:nth-of-type(odd) .visual img {
        width: 100%;
        height: auto;
     }
    }






    