
/****Home**/



#Home {
    display: flex;
    justify-content: center;
}

#Home h2 {
 color: #437573;
 -webkit-text-stroke:2px  #85F0D3;
 font-size: 75px;
 padding-top: 40px;
 margin-right:80px;
 font-family: 'Libre Bodoni', serif;
 letter-spacing: 1.2vw;
 font-weight: 700;
}

 #Home h1{
    font-size: 77px;
    margin-top: 220px;
    font-family: 'Monoton', cursive;
 }
h1 .animation{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(96deg, rgba(195,18,18,1) 0%, rgba(196,81,49,1) 32%, rgba(196,133,49,1) 52%, rgba(196,115,49,1) 72%, rgba(195,18,18,1) 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap
}


/******About********/

.About{
   display: flex;
   justify-content: left;
   margin-right: 920px;
   padding: 320px 0;
 }

.blur{
    width: 530px;
    height: 530px;
    position: absolute;
}
.blur:before {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(75,111,100,1) 8%, rgba(17,58,68,1) 100%);
    filter: blur(5px);
    z-index:0;
  }


  .text{
   position: relative;
   margin: 120px;
   z-index: 2;
   text-align: left;
   width: 170%;


  }
.text p {
    font-size: 50px;
    text-decoration:wavy;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;
}
.text h1 {
    font-size: 40px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;
    margin-left: 120px;

}

.skills{
    position:relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin-top: -400px;
   

  }
  .skills img{
    width: 70px;
    padding: 50px;
  }

  .More{
   margin-top: 130px;
  }
  .More h2{
    font-size: 45px;
    margin: 90px 0;
    text-align: center;
    color: #85F0D3;
    font-family: 'Libre Bodoni', serif;
  }
/***First image**/
 .about-img{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-right: 180px;
   
 }

 .about-img img{
    height: 600px;
 }

 .about-img h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }
 /***2nd image**/
 .about-img2{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-left: 180px;
 }

 .about-img2 img{
    height: 600px;
 }

 .about-img2 h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }
  /***3rd image**/
  .about-img3{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-right: 180px;
 }

 .about-img3 img{
    height: 600px;
 }

 .about-img3 h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }




  .learn-more h4 {
    padding-top: 120px;
    text-align: center;
    font-size: 37px;
    font-family: 'Libre Bodoni', serif ;
    color:#85F0D3;
  }

  .learn-more h4 a{
    color:#85F0D3;
  }


    /****Responsive**/

    @media  (max-width:1000px){
      #Home {
         padding-top: 30px ;
         display: flex;
         justify-content: center;
         flex-direction: column;
         margin-left: 540px;
     }
     #Home h2 {
      padding-top: 60px;
      margin-right: 50px;
      font-size: 99px;
           }
     #Home h1 {
      font-size: 97px;
      margin-top: 22px;
      font-family: 'Monoton', cursive;

      }
   }
    