*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


body{
    overflow-x: hidden;
    background: linear-gradient(180deg, rgba(16,18,22,1) 0%, rgba(19,44,63,1) 100%);
    height: 790vh;

}
/***************Home**********/
@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}



/*Nav-bar */
nav {
    width: 100%;
    backdrop-filter: blur(8px);
    padding: 20px 0;
    position: sticky;
    top: 0; 
    right: 0;
    z-index: 3;
    background: none;
    background-color: rgba(23, 61, 79, 0.1);
  }
  .navmenu a{
    font-family: 'Bebas Neue', cursive;
    margin: 0 15px;
    border-radius: 6px;
    font-size: 26px;
    font-weight: 900;
    color: #85F0D3;
}
.navmenu {
    display: flex;
    justify-content: center;

}
/****Home**/


.blur2{
    width: 730px;
    height: 730px;
    background: radial-gradient(circle, rgba(75,111,100,1) 8%, rgba(17,58,68,1) 100%);
    filter: blur(5px);
    position:absolute;
    margin-top: -550px;
    margin-left: 1400px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
}
#Home {
    display: flex;
    justify-content: center;
    
}

#Home h2 {
 color: #437573;
 -webkit-text-stroke:2px  #85F0D3;
 font-size: 75px;
 padding-top: 40px;
 margin-right:80px;
 font-family: 'Libre Bodoni', serif;
 letter-spacing: 1.2vw;
 font-weight: 700;
}

 #Home h1{
    font-size: 77px;
    margin-top: 220px;
    font-family: 'Monoton', cursive;
 }
h1 .animation{
    animation: background-pan 3s linear infinite;
    background: linear-gradient(96deg, rgba(195,18,18,1) 0%, rgba(196,81,49,1) 32%, rgba(196,133,49,1) 52%, rgba(196,115,49,1) 72%, rgba(195,18,18,1) 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap
}


/******About********/


.blur{
    margin: 190px -170px;
    width: 730px;
    height: 730px;
    position: relative;
}
.blur:before {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(75,111,100,1) 8%, rgba(17,58,68,1) 100%);
    filter: blur(5px);
    z-index:0;
  }

.blur p {
    position:absolute;
    font-size: 60px;
    margin: 230px 400px;
    text-decoration:wavy;
    width: 1000px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;
    z-index: 1;
}
.blur h1 {
    position:absolute;
    font-size: 40px;
    margin: 430px 400px;
    text-decoration:wavy;
    width: 1000px;
    font-family: 'Libre Bodoni', serif;
    font-weight: 900;
    color: #85F0D3;
    z-index: 1;
}

.skills{
    position:absolute;
    z-index: 1;
    display: flex;
    margin: 500px 395px;

  }
  .skills img{
    width: 70px;
    padding: 50px;
  }


  .More h2{
    font-size: 45px;
    margin: 90px 0;
    text-align: center;
    color: #85F0D3;
    font-family: 'Libre Bodoni', serif;
  }
/***First image**/
 .about-img{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-right: 180px;
 }

 .about-img img{
    height: 600px;
 }

 .about-img h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }
 /***2nd image**/
 .about-img2{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-left: 180px;
 }

 .about-img2 img{
    height: 600px;
 }

 .about-img2 h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }
  /***3rd image**/
  .about-img3{
    display: flex;
    padding-top: 30px;
    gap: 120px;
    justify-content: center;
    margin-right: 180px;
 }

 .about-img3 img{
    height: 600px;
 }

 .about-img3 h4{
    padding-top: 19%;
    font-size: 40px;
    color: rgb(205, 223, 230);
    font-family: 'Libre Bodoni', serif;

 }

   /***Transition**/
   .hidden{
    opacity: 0;
    filter: blur(8px);
    transition: all .8s;
    transform: translateY(20%);
  }
  .show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
   
  }

  /****Projects**/

  #Projects{
    padding-top: 220px;
  }

  #Projects h2{
    font-size: 55px;
    text-align: center;
    font-family:'Libre Bodoni', serif;
    color: #85F0D3;
  }

  .ecommers{
    display: flex;
    padding-top: 120px;
    justify-content: center;
    gap: 120px;
  }
  .ecommers img{
    width: 600px;
  }
  .ecommers h4{
    width: 320px;
    font-size: 30px;
    color: aliceblue;
  }