


*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
}

main {
  padding-top: 1000px;
  position:absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}
nav{
   position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px;
}
.navmenu {

  position: sticky;


}
.navmenu a {
  color: #5E3718;
  font-size: 20px;
  text-transform: capitalize;
  padding-top: 100px;
  font-weight: 400;
  transition: all .42s ease;

}

  


#nav-toggle{
  width: 50px;
  height: 50px;
  position: fixed;
  color: rgb(5, 51, 51);
  background-color: antiquewhite;
  z-index: 3;
  left: 92%;
  top: 3%;
  border: none;
  cursor: pointer;
  border-radius: 60%;
  outline: none;
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 0.4s;
}




#nav-toggle .gg-menu {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-30%,-30%) ;
  font-size: 1.8rem;
  color: black;
  opacity: 0;

}
#nav-toggle .gg-close {
  position: absolute;
  left: 43%;
  top: 50%;
  transform: translate(-30%,-30%) ;
  font-size: 1.8rem;
  color: black;
  opacity: 0;

}
body:not([data-nav="false"]) #nav-toggle > .gg-close{
  opacity: 1;
}
body:not([data-nav="true"]) #nav-toggle > .gg-menu{
  opacity: 1;
}

body[data-nav="true"]  main {
  transform: translateX(-20%) ;
}

main{
  transition: transform 0.5s cubic-bezier(0.13, 0.53, 0.38, 1);
}



